// 登陆页面
.login-page {
  width: 100%;

  // 登陆区块
  .login-block {
    width: 100%;
    height: 400px;
    padding: 10px;
    text-align: center;
     // 表单input区块
    .form-input-block {
      > * {
        margin: 10px 0;
      }
    }

    // 图标组区块 - 切换登陆方式
    .icon-group-block {

    }
  }
}



// 注册页面
.register-page {
  width: 100%;
  height: 100%;

  // 注册区块
  .register-block {
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px;
    text-align: center;
  }
  // 已有账户表单
  .register-form {
    width: 100%;
    padding: 10px;
    margin-left: 20px;
  }
}


.bind-page {
  padding: 20px;
  text-align: center;
  .form-block {
    padding: 20px;
    text-align: center;
  }

  .bind-block {
    padding: 20px;
    > * {
      margin: 10px 0;
    }
    div:last-child {

      position: relative;
      bottom: 0;
    }
  }
}


// 手机验证页面
.validate-page {
  width: 100%;

  // 表单区块
  .validate-block {
    width: 100%;
    height: 400px;
    padding: 10px;
    text-align: center;
  }
}
