.homeLayout {
  min-height: 100vh;
  :global {
    .ant-layout-header {
      color: white;
      background: linear-gradient(#58a3f7, #6633ff);
      line-height: 50px;
    }

    @media screen and (max-width: 576px) {
      .ant-layout-header {
        padding: 0 1.5rem;
      }
    }
  }
  .content {
    background-color: white;

    @media screen and (max-width: 576px) {
      padding: 0 0.5rem;
    }
    @media screen and (min-width: 576px) {
      padding: 0 1rem;
      .homeContent {
        margin-top: 1.5rem;
      }
    }
  }
}
