.listCard {
  display: flex;
  flex-flow: column;
  min-height: 80vh;

  .content {
    flex: 1;
  }

  .btn {
    width: 100%;
  }
  :global {
    .ant-list-item-meta {
      align-items: center;
    }
    @media screen and (max-width: 576px) {
      .ant-list-item {
        > ul {
          flex-grow: 1;
          margin-top: 0.5rem;
          li,
          button {
            width: 100%;
          }
        }
      }
    }
  }
  @media screen and (max-width: 576px) {
    .badge {
      display: none;
    }
  }

  .editButton {
    align-self: flex-end;
    margin-bottom: 1rem;
    padding: 24px;
    :global {
      .ant-form-item-control-input {
        margin: 0 auto;
      }
    }
  }

  .hr {
    border: 1px solid #f0f2f5;
    width: 100%;
    margin-bottom: 1rem;
  }
}
