.home-page {
  .hidden {
    display: none;
  }
  // 走马灯区域
  .carousel {
    margin-top: 1rem;
    display: block;
    // 这里图片大小的设置需要注意一下
    .carousel-item {
      display: block;
      @media screen and (max-width: 667px) {
        img {
          margin: 0 auto;
          display: block;
          width: 100%;
          height: auto;
        }
      }
      @media screen and (min-width: 667px) {
        img {
          margin: 0 auto;
          display: block;
          width: 100%;
          //height: 60vh;
          height: 0;
          padding-bottom: 30%;
          overflow: hidden;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
    }
  }
  // 赛事列表
  .match-block {
    h3 {
      color: #2a82e4;
      text-align: center;
      margin: 20px auto;
    }
    .match-list {
      text-align: center;
    }
  }

  .game-list-block {
    border: 1px solid #eeeeee;
    // box-shadow: 1px 1px 5px #000000;
    box-shadow: 3px 3px 6px -3px rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: left;
    font-size: 12px;
    margin: 10px 0;
    .img-block {
      height: 28vh;
      img:hover {
        cursor: pointer;
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .text-block {
      width: 100%;
      margin: 8px 0;
      div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .status {
        height: auto;
        line-height: 29.6px;
        font-size: 14px;
        span {
          vertical-align: middle;
          font-size: 100%;
        }
        .button {
          vertical-align: middle;
          height: 30px;
          font-size: 100%;
          border-radius: 0.2em;
          // box-shadow: 3px 3px 6px -3px rgba(0, 0, 0, 0.5);
          box-sizing: border-box;
          float: right;
          margin-right: 0.1rem;
          span {
            display: grid;
          }
        }
      }
    }
  }
}

@import '~antd/es/style/themes/default.less';
@pro-header-hover-bg: rgba(0, 0, 0, 0.025);
.menu {
  @media screen and (max-width: 576px) {
    width: 100vh;
  }
  :global(.anticon) {
    margin-right: 8px;
  }
  :global(.ant-dropdown-menu-item) {
    min-width: 160px;
  }
}

.action {
  display: flex;
  align-items: center;
  height: 100%;
  @media screen and (min-width: 330px) {
    padding: 0 12px;
  }
  @media screen and (max-width: 330px) {
    padding: 0 0.3rem;
  }
  cursor: pointer;
  transition: all 0.3s;
  > span {
    color: @text-color;
    vertical-align: middle;
  }
  &:hover {
    background: #1890ff linear-gradient(hsla(0, 0%, 100%, 0.2), transparent);
  }
  &:global(.opened) {
    background: @pro-header-hover-bg;
  }
  .name {
    @media screen and (max-width: 576px) {
      display: none;
    }
    padding-right: 1rem;
    padding-left: 0.5rem;
    font-size: 17px;
    // color: #ffffff;
  }
}
.account {
  .avatar {
    margin: ~'calc((@{layout-header-height} - 24px) / 2)' 0;
    margin-right: 8px;
    color: @primary-color;
    vertical-align: top;
    background: rgba(255, 255, 255, 0.85);
  }
}
