<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">  <title>轮滑赛事辅助平台</title>
  <script type="text/javascript">
    window.onload = initPage();
    function initPage()   
    {   
        var objLoading = document.getElementById("LoadingBar");   
        if (objLoading != null)   
        {   
            objLoading.style.display = "none";   
        }   
    }
  </script>
</head>
<body>
  <div id="root"></div>
</body>
</html>