@media screen and (min-width: 576px) {
  .header {
    background: linear-gradient(#58a3f7, #6633ff);
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    box-shadow: 3px 3px 6px -3px rgba(0, 0, 0, 0.5);

    > div a {
      color: #ffffff;
      font-size: 18px;
    }
    .header_left {
      display: inline-block;
      line-height: 4rem;
      height: 100%;
      strong {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0.4rem 0;
        transition: all 0.3s;
      }
      div {
        display: flex;
        align-items: center;
        img {
          flex: 1;
          vertical-align: middle;
          width: 28px;
          height: 28px;
          margin-right: 0.5rem;
          cursor: pointer;
        }
        .title {
          line-height: 1.5;
        }
      }
      a {
        vertical-align: middle;
      }
      .header_block {
        vertical-align: middle;
      }
    }
    .header_left a:hover {
      color: #000000;
    }

    .header_right {
      float: right;
    }
    .header_right a {
      vertical-align: middle;
    }
    .header_right a:hover {
      color: #000000;
    }
  }
}

@media screen and (max-width: 576px) {
  .header {
    background: linear-gradient(#58a3f7, #6633ff);
    z-index: 999;
    width: 100%;
    height: 4rem;
    box-shadow: 3px 3px 6px -3px rgba(0, 0, 0, 0.5);
    line-height: 45px;
    display: flex;
    align-items: center;

    > div a {
      color: #ffffff;
      font-size: 16px;
    }

    .exit {
      display: none;
    }

    .header_left {
      strong {
        display: flex;

        > div {
          text-align: center;
          line-height: 1.5;
          display: flex;
          align-items: center;

          .title {
            margin-left: 0.3rem;
          }
        }
      }

      img {
        width: 28px;
        height: 28px;
      }
    }
    > div a {
      color: #ffffff;
      font-size: 17px;
    }

    .header_right {
      flex: 1.5;
      > span {
        float: right;
      }
    }
  }
  :global {
    .ant-layout-header {
      padding: 0;
    }
  }
}
