.edit-unit-info {
  padding: 10px;
  width: 80%;
  margin: 0 auto;
}

.participants-athlete-list {

}

.p-upload-block {
  text-align: center;
  border: 1px #eeeeee solid;
  position: relative;
  > div:first-child {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}
