.edit-unit-info {
  padding: 10px;
  width: 80%;
  margin: 0 auto;
}

.participants-athlete-list {
  .n-block {
    width: 100%;
    padding: 10px 0;
    margin: 10px auto;
  }
}

.require {
  :global {
    .ant-form-item-label{
      label::before {
        display: inline-block;
        margin-right: 4px;
        color: #f5222d;
        font-size: 14px;
        font-family: SimSun, sans-serif;
        line-height: 1;
        content: '*';
      }
    }
  }
}

.p-upload-block {
  text-align: center;
  border: 1px #eeeeee solid;
  position: relative;
  > div:first-child {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.individual-enroll {
  .rule-block {

  }

  .table-block {

  }

  .enroll-block {

  }
  .tag-block {

  }
}

.r {
  width: 100%;
  > div {
    display: inline-block;
    width: 40%;
    margin: 10px 10px;
  }
}

.ant-layout-content {

}

.return {
  z-index: 10;
  @media screen and (min-width: 667px) {
    display: none;
  }
}

.myroll {
  :global {
    .ant-table-placeholder{
      height: 500px;
    }
  }
  .returnDown {
    @media screen and (max-width: 667px) {
      display: none;
    }
  }
  .hidePcBtn {
    @media screen and (max-width: 667px) {
      display: none;
    }
  }
}

.show-enroll-header {
  background-color: #ffffff;
  height: auto;
  color: #1890ff;
}

.show-enroll-content {

  .show-person {
    background-color: #ffffff;
    p {
      color: #1890ff;
      text-align: center;
      height: 40px;
    }
  }

  .show-team {
    background-color: #ffffff;
    p {
      color: #1890ff;
      text-align: center;
      height: 40px;
    }
  }
}


.treePcNode {
  @media screen and (max-width: 667px) {
    display: none;
  }

  .treeSelect {
    @media screen and (min-width: 667px) {
      width: 300px;
    }
    @media screen and (max-width: 667px) {
      width: 150px;
    }
  }
}

.treeMobNode {
  @media screen and (min-width: 667px) {
    display: none;
  }
  background: white;
  border-radius: .2em;
  border: 1px solid wheat;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: visible;

  .treeMobSelect {
    width: 100%;
  }
  Button {
    margin-top: 10px;
    width: 100%;
    height: 48px;
  }
}

.edit-unit-info {
  @media screen and (min-width: 667px) {
    width: 50%;
  }
  .editButton {
    width: 100%;
  }
}
