// 登陆layout样式
.login-layout {
    .container {
        height: 100vh;
        background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
        background-repeat: no-repeat;
        background-size: 100%;
      }
      .header {
        background-color: #f0f2f5;
        text-align: center;
        height: 10vh;
      }
      
      .footer {
        background-color: #f0f2f5;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
      }      
}

// 用户主界面layout
.basic-layout {
    #components-layout-demo-side .logo {
        height: 32px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px;
      }
}

// 报名模块layout
.signUp-layout {
    
}