// 运动员列表页面
.AthletesList-page {
    background-color: #ffffff;
    .avatar-uploader > .ant-upload {
        width: 128px;
        height: 128px;
    }

    .AthletesList-header {
        background-color: #ffffff;
    }

    .AthletesList-content {
    }
}


// 添加运动员
.addAthlete-item {
    .avatar-uploader {
        margin-left: 35%;
    }
}

